@tailwind base;
@tailwind components;
@tailwind utilities;

.fix-scroll {
  scrollbar-gutter: stable;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

body {
  height: 100vh;
  scroll-behavior: smooth;
}

.monoscape {
  font-family: monospace;
}

/* width */
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #72727279; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}